:root {
    --swiper-theme-color: #007aff;
    --border-color: #5C5C5C;
    --background-light: #141414;
    --color-yellow: #FFEE00;
    --swiper-navigation-size: 44px;
    --content-width: 80%;
    --min-width: 320px;
    --max-width: 1280px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: black;
}

.navbar {
	width: 100%;
	padding: 10px;
	overflow: hidden;
    background-color: var(--background-light);
    min-height: 46px;
}

.navbar-nav {
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.navbar-menu {
    margin-right: 10px;
    display: block;
    height: 20px;
    float: left;
    margin-top: 3px;
}

.navbar-menu:hover {
	cursor: pointer;
}

.navbar-logo {
	display: block;
	width: 100px;
	height: 22px;
	float: left;
	margin-top: 3px;
}

#nav-search {
	border: 1px solid none;
	display: flex;
	border-radius: 5px;
	margin-left: 20px;
	padding-right: 5px;
	margin-top: -3px;
}

#nav-search {
	display: none;
}

#navbar-search:hover{
	cursor: pointer;
}

#nav-search:hover {
	border: 1px solid #0f6199;
}

.search-icon{
	display: block;
	height: 18px;
	margin: 6px;
	float: right;
}

.search_input {
	margin-top: 5px;
	margin-bottom: 5px;
    padding: 1px 450px 1px 5px;
    background : var(--background-light);
    border: none;
    color: white;

}

.reponsive {
	position: absolute;
	width: 100%;
	top:0;
	margin-top: 15px;
	z-index: 10;
}

#reponsive-search {
	border: 1px solid none;
	display: flex;
	width: 98%;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 5px;
	margin-top: -3px;
	background-color: white;
}

#reponsive-search:hover{
	cursor: pointer;
}

#reponsive-search:hover {
	border: 1px solid #0f6199;
}

.reponsive-search-icon{
	display: block;
	height: 18px;
	margin: 6px;
	float: right;
}

/*.reponsive-search_input {
    background : var(--background-light);
    border: none;
    color: white;
}

*/.reponsive-search_input {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  border: none;
}

.reponsive-search_input:focus {
  outline: none;
}

.search_input:focus {
  outline: none;
}

#search-close {
	display: none;
	cursor: pointer;
}

.reponsive-close {
	padding-top: 3px;
}

.close-icon {
	display: block;
	height: 13px;
	margin: 6px;
	float: right;
}

.sign_in {
	display: block;
	float: right;
    color: #000;
    background-color: var(--color-yellow);
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    padding: 0 14px;
    text-decoration: none;
    font-family: sans-serif;
}

#navbar-search {
	display: block;
	height: 20px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

#navbar-collapse {
	width: 256px;
	background-color: black;
	color: white;
	position:absolute;
	top: 0;
	height: 100vh;
	transition: 1s;
	margin-left: -260px;
	padding: 16px;
    height: 100%;
    max-height: 100%;
    z-index: 5;
}

.navbar_info {
	position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.45);
    z-index: 3;
}

.nav-item {
	padding: 7.5px 16px 7px 40px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.scroll-bar {
	height: 95%;
	width: 225px;  
	overflow-y: auto;
	max-height: 100%;
}

.nav_content {
	padding: 7.5px 0px 7px 10px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding-right: 0px !important;
}

.nav_bottom_line {
	border-bottom: .55px solid rgba(255,255,255,.2);
}

.close-box {
	padding: 5px 5px 27.5px 40px;
}

.close {
	display: block;
	height: 15px;
	float: right;
}

.close:hover {
	cursor: pointer;
}

.arrow-right {
	display: block;
	height: 12px;
	float: left;
	margin-top: 2px;
	margin-right: 12px;
	margin-left: -24px;
	transition: 1s;
	transform: rotate(0deg);
}

.nav_info {
	display: none;
	transition: 0.5s;
}



.text-grey {
	color: #888;
}

.text-grey:hover {
	color: white;
}

.text-white {
	color: white;
}

.ml-auto{
	margin-left: auto;
}







/*section*/
.section {
	max-width: 1203px;
    min-width: var(--min-width);
	margin: 30px auto;
}

.section-border {
	width: 100%;  
	overflow-x: auto;
	max-height: 100%;
	max-width: 100%;
}

.section-tab {
	font-size: 14px;
    display: inline-block;
    height: 100%;
    margin: 0 32px 0 0;
    padding: 12px 16px;
    cursor: pointer;
    transition: color .3s cubic-bezier(.645,.045,.355,1);
}

#tab-box {
	display: flex; 
	border-bottom: 1px solid grey;
}

.tab-active {
	color: yellow;
}

#tab-line {
	display: block;
    transform: translate3d(0px, 0px, 0px);
    width: 112px;
    background-color: #f7f728;
    height: 1px;
    margin-top: -1px;
    transition: 0.5s;
}

.tab {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	margin-top: 23px; 
	text-decoration: none; 
	list-style: none;
	margin-bottom: 8px;
}

.tab-item {
	position:relative; 
	height: 100%; 
	width: 222px;
	/*margin-left: 10px;*/
	margin-right: 23px;
	margin-top: 7px;
}

.tab-item-div {
	height: 100%;  
	width: 100%
}

.img-fluid {
	width: 100%;
}

.background {
	filter: grayscale(100%);
}

.tab-item-word {
	top: 0;
	width: 100%; 
	margin:0;
	padding-top: 18px;
	padding-left: 15px;
	height: 100%; 
	position: absolute; 
	z-index:1;
}

.tab-item-word span {
	font-size: 14px; 
	font-weight: 500; 
	color: #fff;
}


#section-promotions {
	max-width: 1220px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	overflow: hidden;
}

.romotions-div {
	width: 285px;;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
}

.col {
	grid-template-columns: auto auto!important;
}

.col1 {
	grid-template-columns: auto !important;
}

.announcements-div {
	width: 285px;;
    margin-top: 18px;
}

.promotions-div {
	/*height: 80%;*/
	width: 100%;
}

.promotions-word-box {
	width:100%;
	padding: 0;
	text-align: left;
	height: 100%;
	margin-bottom: 10px;
}

.promotions-word-box h3 {
	font-weight: 400;
	padding: 0;
	word-wrap: break-word;
	white-space: normal;
	width: 100%;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	margin-top: 6px;
}

.promotions-word-box p{
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
    font-size: 12px!important;
    color: #666;
    margin-top: 4px;
    line-height: 1.5;
}

.height {
	max-height:calc((100% - 20px));
}
.height1{
	max-height: calc((100% - 20px));
	width: 100%;
}


#sections-contest {
	max-width: 1220px;
	display: grid;
	grid-template-columns: auto auto auto auto ;
	overflow: hidden;
	padding-top: 14px;
}

#page_2 {
	display: none;
}

.footer {
	min-width: var(--min-width);
	overflow: hidden;
	padding-top: 30px;
	padding-left: 130px;
	padding-right: auto;
	padding-bottom: 30px;
	background-color: var(--background-light);
	border-top: 1px solid var(--border-color);
}

.footer-word {
	margin-bottom: 20px;
	font-family: 300px;
	font-size: 14px;
}

.footer-word-active {
	margin-bottom: 20px;
	font-size: 12px;
	color: #999;
	line-height: 16px;
}

.text-yellow {
	margin-bottom: 20px;
	font-size: 12px;
	color: yellow;
	line-height: 16px;
}

.footer-word img {
	width: 1.5em;
	height: 1.5em;
}

.d-flex {
	display: flex;
}

.footer-icon {
	width: 3em;
	height: 1.5em;
}

.footer-item {
	max-width: 1400px;
	display: grid;
	grid-template-columns: auto auto auto auto 60%;
	margin-left: auto;
	margin-right: auto;

}

.footer-box {
	width: 160px;
}

.button {
	display: inline-block;
	width: 100px;
	height: 28px;
	background-color: #fe0;
	border-radius: 14px;
	padding: 0 14px;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
	color: #000;
}


.footer-box {
	display: grid;
	grid-template-columns: auto ;
}

.reponsive {
	display: none;
}
@media (max-width: 450px) {
	.footer {
	    padding-left: 15px !important;
	    transition: 1s;
	}

	.box {
		width: 120px !important;
	}
}

@media (min-width: 576px) {
	.footer {
	    padding-left: 50px !important;
	    transition: 1s;
	}
}
	
@media (max-width: 640px) {
	.tab {
		grid-template-columns: auto auto !important;
	}

	.romotions-div {
		width: calc((100% - 10px));
		margin-top: 30px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.announcements-div {
			width: calc((100% - 10px));
		    margin-top: 30px;
		}

	#section-promotions {
		margin-left: 5px;
		max-width: calc(102% - 5px) !important;
		width: 620px;
		display: grid;
		grid-template-columns: auto auto !important;
		overflow: hidden;
	}
	.col1 {
		grid-template-columns: auto !important;
		justify-content: center;
	}
	#sections-contest {
		margin-left: 5px;
		max-width: calc(102% - 5px) !important;
		width: 620px;
		display: grid;
		grid-template-columns: auto auto auto auto !important;
		overflow: hidden;
	}
	.footer {
	    padding-left: 90px;
	    transition: 1s;
	}

}

@media (max-width: 1024px){
	
	.col {
		grid-template-columns: auto auto!important;
	}
	
	#section-promotions {
		max-width: 970px;
	}
	#section-promotions {
		margin-left: 5px !important;
		max-width: calc(102% - 10px) !important;
		display: grid;
		grid-template-columns: auto auto auto;
		overflow: hidden;
	}

	.col1 {
		grid-template-columns: auto !important;
	}

	.tab {
		grid-template-columns: auto auto auto auto;
	}
	#sections-contest {
		max-width: 970px;
	}

	#sections-contest {
		margin-left: 5px;
		max-width: calc(102% - 10px) !important;
		display: grid;
		grid-template-columns: auto auto auto;
		overflow: hidden;
	}
	.tab {
		grid-template-columns: auto auto auto auto;
	}

	.section {
		padding-left: 5px;
	    padding-right: 5px;
	}

	#tab-box {
		margin-left: 5px;
	    margin-right: 5px;
	}

	#tab-line {
		margin-left: 5px;
	    margin-right: 5px;
	}

	.tab-item {
	    width: calc(100% - 10px) !important;
	    margin-left: 5px;
	    margin-right: 5px;
	}

	.tab-item-word {
		padding-top: calc(12.5% - 10px) !important;
		padding-left: 13px;
	}	

	.romotions-div {
		max-width: 300px !important;
	    width: calc(100% - 15px) !important;
		margin-top: 26px;
		margin-left: auto;
		margin-right: auto;
	}
	.announcements-div {
			max-width: 300px !important;
		    width: calc(100% - 15px) !important;
		    margin-top: 26px;
		}

	.height1{
	    min-height: 200px !important; 
	    max-height: 290px !important; 
	    height: calc(104% - 1px) !important;
	}
	.footer {
		grid-template-columns: auto auto ;
		padding: auto;
	}

	.footer-item {
		max-width: 1400px;
		display: grid;
		grid-template-columns: auto;
		margin-left: auto;
		margin-right: auto;

	}

	.footer-box {
		display: grid;
		grid-template-columns: auto auto ;
		min-width: 100%;		

	}

	.box {
		width: 200px;
	}

	.reponsive {
		display: none;
	}
	#nav-search{
		display: none !important;
	}
	#search-close{
		display: none !important;
	}
	.margin {
		margin-top: -50px !important;
	}
	#navbar-search{
		display: block !important;
	}
}

@media (max-width: 1400px) {
	.col {
		grid-template-columns: auto auto!important;
	}

	.navbar-nav {
		max-width: 950px;
	}

	.section {
		max-width: 950px;
	}

	.tab-item {
		width: 170px;
		margin-right: 25px !important;
	}

	.tab-item-word {
		padding-top: 12px;
		padding-left: 13px;
	}

	#section-promotions {
		max-width: 970px;
	}

	#sections-contest{
		max-width: 970px;
	}

	.romotions-div {
		max-width: 222px;
		margin-top: 26px;
		margin-left: auto;
		margin-right: auto;
	}
	.announcements-div {
		max-width: 222px ;
	    margin-top: 26px;
	}
	.reponsive {
		display: none;
	}
	.margin {
		margin-top: -160px;
	}
}

.margin {
	margin-top: -160px;
}